
scikit_learn
geomdl
pykdtree
h5py
matplotlib
trimesh
scipy
seaborn
numpy
ipdb
scipy
open3d
transforms3d

lapsolver==1.1.0
torch==1.7.0
lap==0.4.0
pytorch_utils==0.5.5
torch_scatter==2.0.6
tensorflow_gpu==1.15.0


